/* fonts */
@font-face {
	font-family: "dogica";
	src: url(fonts/dogica/TTF/dogica.ttf);
}
@font-face {
	font-family: "VCR_OSD_MONO";
	src: url(fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf);
}
/* phones */
@media (max-width: 910px) {
	.timeBomb {
		margin: auto;
		width: 80vw;
		font-size: 55vw;
	}
	header {
		margin-left: 4.5%;
		margin-right: 4.5%;
	}
	body {
		text-shadow: 2px 2px 0px black;
	}
}
/* medium desktop */
@media (min-width: 910px) {
	.logo {
		left: 2%;
		scale: 1;
	}
	.timeBomb {
		right: 5.2%;
		width: 40vw;
		font-size: 27vw;
		scale: 1.1;
	}
	.desktop-width-45 {
		max-width: 45%;
	}
	body {
		text-shadow: 2px 2px 0px black;
	}
}
@media (min-width: 1154px) {
	.timeBomb {
		right: 6.5%;
		scale: 1;
	}
	.logo {
		left: 2.1%;
		scale: 1.2;
	}
}
/* wide desktop */
@media (min-width: 1270px) {
	.timeBomb {
		right: 7.5%;
		scale: 0.9;
	}
	.logo {
		left: 1%;
		scale: 1.2;
	}
	body {
		font-size: medium;
	}
}
@media (min-width: 1400px) {
	.timeBomb {
		right: 7.5%;
		scale: 0.8;
	}
	.logo {
		left: 2.5%;
		scale: 1.4;
	}
	body {
		font-size: large;
	}
}
@media (min-width: 1750px) {
	.timeBomb {
		right: 9.7%;
		scale: 0.8;
	}
	.logo {
		left: 0%;
		right: 10%;
		scale: 1.6;
	}
	body {
		font-size: x-large;
		text-shadow: 3px 3px 0px black;
	}
	header {
		margin-left: 6.5%;
		margin-right: 1.5%;
	}
}
@media (min-width: 2200px) {
	.timeBomb {
		right: 11%;
		scale: 0.8;
	}
	body {
		font-size: xx-large;
	}
}
/* scrollbar */
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: #282828;
}
::-webkit-scrollbar-thumb {
	background: #303030;
}
::-webkit-scrollbar-thumb:hover {
	background: #454545;
}
/* main */
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
	height: 100vh;
	margin: 0;
}
body {
	font-family: "VCR_OSD_MONO", monospace;
	image-rendering: pixelated;
	align-items: center;
	background-image: url("assets/siteBackground.png");
	background-color: #1e1e1e;
	background-repeat: repeat;
	height: 100vh;
	margin: 0;
}
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 4vh;
}
img {
	image-rendering: pixelated;
}
h1 {
	font-size: 2em;
	line-height: 1em;
}
p {
	font-size: 1.2em;
	line-height: 1em;
}
div {
	display: block;
	unicode-bidi: isolate;
}
nav {
	background-color: none;
	display: block;
	unicode-bidi: isolate;
}
footer {
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 1rem 0;
	line-height: 130%;
	text-align: center;
	box-sizing: border-box;
	color: white;
	background-color: #262626;
}
small {
	font-size: 0.75em;
}
/* classes */
.scale {
	transition: transform 0.7s;
}
.scale:hover {
	transform: scale(1.015);
}
.monitor {
	background: url("assets/green_monitor.png") no-repeat;
	background-size: cover;
}
.container {
	position: relative;
	font-family: "VCR_OSD_MONO", monospace;
	display: flex;
	align-items: baseline;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 24px;
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #282828;
	box-shadow: 2px 2px 0px black;
	line-height: 130%;
	text-align: left;
	color: white;
	list-style-type: none;
	overflow: show;
	flex: 1;
}
.emptyContainer {
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.textContainer {
	display: flex;
	flex-wrap: wrap;
	margin-top: 12px;
	margin-bottom: 2px;
	margin-left: 12px;
	margin-right: 12px;
	width: 100%;
	background-color: #303030;
	padding: 12px;
	align-items: center;
	border-bottom: 4px solid #1e1e1e;
	border-right: 4px solid #1e1e1e;
	box-shadow: 2px 2px 0px black;
	transition: transform 0.7s;
}
.textContainer img {
	width: 1.25em;
	height: auto;
	padding-left: 0.8vw;
	filter: drop-shadow(1px 1px 0px black);
}

.logo {
	position: relative;
	display: inline;
	transition: transform 0.7s;
}
.logo:hover {
	transform: scale(1.15);
}
.logo img {
	width: 100%;
	aspect-ratio: 25 / 11;
}
.overlayTop {
	position: absolute;
}
.navbar {
	list-style-type: none;
	box-shadow: none;
	text-align: center;
	align-items: center;
	overflow: visible;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 1em;
}
.navbar a {
	color: white;
	background-color: #282828;
	text-shadow: 2px 2px 0px black;
	box-shadow: 2px 2px 0px black;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
	min-height: 2em;
	min-width: 3em;
	display: flex;
	text-align: center;
	align-items: center;
	transition: transform 0.3s;
}
.navbar a img {
	width: 1.5em;
	height: auto;
	filter: drop-shadow(1px 1px 0px black);
	padding-left: 1vw;
}
.navbar a:hover {
	background-color: #858585;
	transform: scale(1.1);
}
.timeBomb {
	position: relative;
	height: auto;
	background-image: url(assets/timeBomb.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: visible;
	display: flex;
	flex-direction: row;
	color: red;
	filter: drop-shadow(1px 1px 0px black);
	text-align: left;
	margin-bottom: 2%;
	aspect-ratio: 385 / 284;
	visibility: visible;
}
.timeBomb h1 {
	font-size: 10%;
	line-height: 100%;
}
.timer {
	position: absolute;
	visibility: visible;
	top: 46.5%;
	left: 38%;
}
.playButton {
	margin-top: 2%;
	margin-left: 1vw;
	margin-right: 1vw;
	background-image: url(assets/timeBombBlownButtonUp.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 4em;
	aspect-ratio: 119 / 123;
}
.timeBomb a {
	visibility: hidden;
	width: 30%;
	height: auto;
	position: absolute;
	top: 41%;
	left: 44%;
}
.playButton:hover {
	filter: brightness(120%);
}
.playButton:active {
	background-image: url(assets/timeBombBlownButtonDown.png);
}
.align-center {
	margin: auto;
	align-items: center;
	align-self: center;
	text-align: center;
}
.fit-text {
	width: fit-content;
}
.margin-sides-12px {
	margin-left: 12px;
	margin-right: 12px;
}
#email {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: fit-content;
	gap: 0.5em;
}

#email > a {
	color: white;
	text-decoration: none;
	padding: 1px;
	border-bottom: 2px dotted white;
}
#email > a:hover {
	border-bottom: 2px solid white;
}
#email > img {
	filter: drop-shadow(1px 1px 0px black);
	width: 1.25em;
}

.date-convert {
	border-bottom: 3px dotted white;
	text-decoration: none;
	cursor: pointer;
}

.date-convert:hover {
	border-bottom-style: solid;
}

#toast-notification {
	visibility: hidden;
	min-width: 250px;
	background-color: #303030;
	color: white;
	text-align: center;
	padding: 16px;
	position: fixed;
	z-index: 1000;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
	font-family: "VCR_OSD_MONO", monospace;
	border: 2px solid #1e1e1e;
	box-shadow: 2px 2px 0px black;
	opacity: 0;
	transition:
		opacity 0.5s,
		bottom 0.5s,
		visibility 0s 0.5s;
	text-shadow: 2px 2px 0px black;
}

#toast-notification.show {
	visibility: visible;
	opacity: 1;
	bottom: 50px;
	transition:
		opacity 0.5s,
		bottom 0.5s,
		visibility 0s;
}
